apiVersion: apps/v1
kind: Deployment
metadata:
  name: golang-app

spec:
  selector:
    matchLabels:
      golang-app: golang-app

  template:
    metadata:
      labels: 
        golang-app: golang-app

    spec:
      containers:
      - name: golang-app
        image: img-app-deployment
        ports:
        - containerPort: 8080

        env:
          - name: SECRET_VALUE
            valueFrom:
              secretKeyRef:
                name: golang-secret-value
                key: password

        envFrom:
          - configMapRef:
              name: go-lang-app-conf
        
        volumeMounts:
        - name: go-lang-app-conf-volume
          mountPath: /app/src/.env
          subPath: .env
        
      volumes:
      - name: go-lang-app-conf-volume
        configMap:
          name: go-lang-app-conf
          items:
            - key: env
              path: .env


